[Unit]
Description=Mount /var/lib/docker

[Mount]
What=/dev/disk/by-uuid/{{ uuid_volumes }}
Where=/var/lib/docker
Type=btrfs
Options=defaults,rw,noatime,space_cache,ssd,discard=async,subvol=@var_lib_docker

[Install]
WantedBy=multi-user.target